# contains patterns to be ignored, or exact names (start with '!')
*.[oa]
logs/
!roborobo3/roborobo
.DS_Store
*.swp


# Cmake related files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


# Clion specific

roborobo3-build/
roborobo3/.idea/
roborobo3/cmake-build-debug/
