recursive-include src *
recursive-include include *
recursive-include prj *
include CMakeLists.txt
include cmake/*.cmake
recursive-include py_example *
recursive-include data *
recursive-include docs *
recursive-include config *
prune py_example/logs
prune logs
prune build/*